<!-- <p>The word you have to guess is: <%= @game.answer.word %>.</p> -->
<p>You have <%= @game.lives %> lives remaining. </p>
<p>Incorrect Guesses: <%= @game.incorrect_guesses.map(&:letter).join(', ') %></p>
<p>Answer Completed:
  <% @game.answer_split.each do |answer|%>
    <%  if answer.nil? %>
      <%='_'%>
    <% else %>
      <%= answer %>
    <% end %>
  <% end %>
</p>
