<h1>Welcome to Hangman</h1>
<p>Find me in app/views/games/show.html.erb</p>

<p>The word you have to guess is: <%= @game.answer.word %></p>
<p>You have this many lives remaining: <%= @game.lives %></p>
<p>Your guesses are: <%= @game.guesses.count %></p>

<table>
  <tr>
    <th>Your Incorrect Guesses are: </th>
    <th><%= @game.incorrect_guesses.map(&:letter).join(', ') %> </th>
  </tr>
  <tr>
    <th>Valid Guesses: </th>
    <th><%= @game.correct_guesses.map(&:letter).join(', ') %> </th>
  </tr>
  <tr>
    <th>Answer Completed: </th>
    <th><%= @game.compare_answer %> </th>
  </tr>
</table>